@media screen and (min-width: 768px) {
    .info {
        padding: 0 5rem;
    }
    .objetivos{
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }
    .objetivos p {
        width: 66%;
    }
    .requisitos {
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }
    .criterios {
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }
    .premios-contenedor{
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }
    .orden {
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }
    .premios {
        display: flex;
        align-items: flex-start; 
        flex-wrap: wrap;     
    }
    .premios h3 {
        width: 100%;
    }
    .premios div {
        width: 100%;
    }
    .premios div:last-of-type{
        align-self: end ;
    }
    
}

@media screen and (min-width: 1024px) {
    .info {
        padding: 0 10rem;
    }
    .objetivos{
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    .objetivos p {
        width: 66%;
    }
    .requisitos {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    .criterios {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    .premios-contenedor{
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    .modalidades {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    .orden {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    
}
