html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
   
}
svg {
    padding: 0;
}
.logo{
    width: 75px;
    height: auto;
    margin-right: 8px;
}
.name{
    font-weight: 800;
    
}
.portada{
    background-image: url('../img/portada-horizaontal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 80%;
    flex-direction: row-reverse;
}
.portada-contenedor{
    height: 25vh;
}
.portada-info {
    text-align: center;
}
.portada-info h1{
    font-size: 1rem;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    width: auto;
    display: inline-block;
    padding: .5rem;

}
.portada-info div{
    width: 100%;

}
.bold {
    font-weight: 800;
}
.accent-font{
color: #DC3545;
}
.list-group-item{
    border-bottom: 2px solid #FBB13C;
}
.badge{
    --bs-badge-font-size: .9rem;
    margin-bottom: 0.25rem;
}
.aranceles {
    border-bottom: 2px solid #FBB13C;
    padding: 1rem .5rem 0rem .5rem;
    border-radius: 2rem;
    line-height: 1rem;
}
.card {
    --bs-card-border-color: #FBB13C;
    margin-bottom: .5rem;
    border-width: 2px;

}
.card-body h6 {
    font-size: 1.25rem;
    font-weight: 600;
}
.a-dark{
    --bs-link-color: #D1DCD7 !important;
}
.buffet{
    border-top: 2px solid #FBB13C
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.objectposition-top{
 object-position: top;
}
.none-border{
   border: none;
   box-shadow: 7px 9px 13px -6px rgba(255,255,255,0.1);

}
.premios-borde {
    background-image: url('../img/pattern-horizontal.svg');
    background-repeat: no-repeat;
    background-position-y:100% ;
    background-position-x: center;    
    background-size: 90%;    
    padding-bottom: 5rem;
}